<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WanderLust</title>
    <meta
      property="og:title"
      content="Wanderlust - Full-Stack Vacation Listing Web Application"
    />

    <meta
      property="og:description"
      content="A full-stack vacation Listing web application featuring authentication, CRUD operations, image uploads, dynamic search & filters, responsive UI, and interactive maps."
    />

    <meta
      property="og:image"
      content="https://wanderlust-vacation-listing-app.onrender.com/images/wanderlust-thumbnail.png"
    />

    <meta
      property="og:url"
      content="https://wanderlust-vacation-listing-app.onrender.com"
    />

    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />

    <meta
      name="twitter:title"
      content="Wanderlust - Full-Stack Vacation Listing Web Application"
    />

    <meta
      name="twitter:description"
      content="Built using Node.js, Express.js, MongoDB, Passport.js, Cloudinary, Bootstrap and EJS."
    />

    <meta
      name="twitter:image"
      content="https://wanderlust-vacation-listing-app.onrender.com/images/wanderlust-thumbnail.png"
    />

    <link rel="stylesheet" href="/css/style.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/rating.css" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
  </head>
  <body>
    <%- include("../includes/navbar.ejs") %>

    <div class="container">
      <%- include("../includes/flash.ejs") %> <%- body %>
    </div>

    <%- include("../includes/footer.ejs") %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>

    <script src="/js/script.js"></script>
  </body>
</html>
