<%layout("layouts/boilerplate") %> <%title = "New Listing" %>

<div class="row offset-2">
  <div class="col-8">
    <br /><br />
    <h1>Create New Listing</h1>

    <form
      action="/listings"
      method="post"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          id="title"
          name="listing[title]"
          placeholder="Add a catchy title"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
        <div class="invalid-feedback">Please enter title</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          id="description"
          name="listing[description]"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter a short discripation</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload listing image </label>
        <input
          type="file"
          name="listing[image]"
          id="image"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter the valid img URL/link</div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="text"
            id="price"
            name="listing[price]"
            placeholder="1200"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Price should be valid</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            id="location"
            name="listing[location]"
            placeholder="Kolhapur, Maharashtra"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Location should be valid</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input
          type="text"
          id="country"
          name="listing[country]"
          placeholder="india"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Country name should be valid</div>
      </div>
      <button class="btn btn-primary add-btn">add</button>
      <br /><br />
    </form>
  </div>
</div>
