
<% layout("layouts/boilerplate") %>
<% title = "error"%>

<div class=" d-flex justify-content-center mt-5 ">

<div class=" row-3 col-8 alert alert-danger d-flex align-items-center   " role="alert">
  <i class="fa-solid fa-triangle-exclamation me-2"></i>
  <div>
    <%= message %>
  </div>
</div>

</div>
